/* MODAL SECTION */
.modal_contents img{
    width: 150px;
}
.modal_contents__form h3{
    font-size: 3rem;
}
.modal_contents__form input{
    font-size: 2.5rem;
}
.modal_contents__form button{
    margin-top: 15px;
    font-size: 2rem;
}
.modal_warning{
    font-size: 2rem;
}
